<div class="row justify-content-between">
    <div class="col-lg-5 col-md-8 col-sm-8 col-12 mb-3">
        <div class="input-group shadow-sm">
            <input id="startDate" class="form-control form-control-sm " type="date" data-url="@Url.Action("GetData")">
            <button class="input-group-append btn btn-secondary px-3 py-0" style="pointer-events:none">
                to
            </button>
            <input id="endDate" class="form-control form-control-sm " type="date" data-url="@Url.Action("GetData")">
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-4 col-12 mb-3 g-lg-0">
        <div class="input-group flex-nowrap" style="height:100%">
            <button id="btnW" class="btn btn-outline-github px-2 flex-grow-1">
                Week
            </button>
            <button id="btnM" class="btn btn-outline-youtube px-2 flex-grow-1">
                Month
            </button>
            <button id="btnQ" class="btn btn-outline-behance px-2 flex-grow-1">
                Quarter
            </button>
        </div>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 col-12 mb-3">
        <div class="input-group shadow-sm">
            <input id="searchTestsReport" class="form-control form-control-sm " type="text" placeholder="Search"
                   data-param-key="filter"
                   data-url="@Url.Action("GetData")">
            <button class="input-group-append btn btn-info" type="button">
                <i class="mdi mdi-magnify"></i>
            </button>
        </div>
    </div>
</div>

<div id="reportTable">
    @Html.Action("GetData")
</div>

@if (ViewBag.isAjax != null && ViewBag.isAjax)
{
    Layout = null;
    <script>
        if (!window.ReportIndex) {
            loadScripts("/Scripts/admin/ReportController.js");
        }
        loadScripts("ReportIndex()", true)
    </script>
}
@section scripts {
    <script src="~/Scripts/admin/ReportController.js"></script>
    <script>ReportIndex()</script>
}
