@using OnlineAptitudeExam.Models;
@using OnlineAptitudeExam.Utils;
@{
    Layout = null;

    var homeViewModel = ViewBag.homeViewModel as CustomModel.HomeViewModel;


    var data = (from p in homeViewModel.AccountsTested
                join c in homeViewModel.ExamsTested on p.id equals c.user_id
                select new
                {
                    p.id,
                    p.avatar,
                    p.username,
                    c.time_end
                }).ToList();
    if (data.Count > 0)
    {
        <div class="card-body table-responsive p-0">
            <table class="table table-striped table-valign-middle">
                <thead style="font-weight:bold">
                    <tr>
                        <th>Avatar</th>
                        <th>UserName</th>
                        <th>Test day</th>
                        <th>Score</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody id="accoutsTestedTable">
                    @foreach (var item in data)
                    {
                        <tr>
                            <td>
                                <img style="width: 36px; height: 36px" class="rounded-circle" src="~/Content/images/avatars/@(item.avatar == null ? "user_placeholder.png": item.avatar)">
                            </td>
                            <td>
                                @item.username
                            </td>
                            <td>
                                @DateUtils.toDateString(item.time_end)
                            </td>
                            <td>
                                unknow
                            </td>
                            <td>
                                unknow
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
