body {
  
  
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #98d5eb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4397f7;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: blue;
    }
/* Set padding to keep content from hitting the edges */
.body-content {

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

/*_Layout.cshtml*/
#nav_home_header ,#nav_about_header,#nav_contact_header,
#nav_register_header,#nav_login_header{
    color:white;
    text-decoration:none;
}

    #nav_home_header:hover {
        color: orange;
    }
    #nav_about_header:hover{
        color:orange;
    }
   #nav_contact_header:hover{
       color:orange;
   }
   #nav_login_header:hover{
       color:orange;
   }
   #nav_register_header:hover{
       color:orange;
   }

.footer {
    padding: 40px 0;
    background-color: #4397f7;
    margin-top:50px;
}

    .footer .social {
        text-align: center;
        padding-bottom: 25px;
        color: #4b4c4d;
    }

        .footer .social a {
            font-size: 24px;
            color: inherit;
            border: 1px solid #ccc;
            width: 40px;
            height: 40px;
            line-height: 38px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            margin: 0 8px;
            opacity: 0.75;
        }

            .footer .social a:hover {
                opacity: 0.9;
            }

    .footer ul {
        margin-top: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }

        .footer ul a {
            color: inherit;
            text-decoration: none;
            opacity: 0.8;
        }

        .footer ul li {
            display: inline-block;
            padding: 0 15px;
        }

        .footer ul a:hover {
            opacity: 1;
        }

    .footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
    }
    /* Home/Index */
       .jumbotron {
         padding-top:250px;
         padding-left:100px;
       }

      .jumbotron h1 {
            margin-bottom: 20px;
            color: blue;
            font-weight: bold;
       }

     .jumbotron p {
            width: 500px;
      }

     .body_intro_flex {
        display: inline-flex;

     }

        .body_intro_flex .img-fluid {
            width: 900px;
            height: 700px;
        }



.col-md-4 img {
    width: 400px;
    margin-left: 10px;
    height: 300px;
    padding-left: 30px;
}

    .col-md-4 h2 {
        color: blue;
        margin-left:50px;
    }
.col-md-4 p{
    width:400px;
    padding-left:20px;
 
}
.social a i {
    color: white;
}
 /*Auth/Login*/
#loginForm{
    color:blue;
    padding-bottom:100px;
    padding-top:100px;
    padding-left:100px;
}

#btn_login{
    background-color:blue;
    margin-top:30px;
    width:100px;
    color:white;
}
#btn_login:hover{
    background-color:deepskyblue;
}
.login{
    display:inline-flex;
    
}
.login h2 {
        font-weight: bolder;
}
.login img{
    width:650px;
}

/*Home/Contact*/

.contact_view{
    display:inline-flex;
    color:blue;
    padding-top:50px;
    padding-left:50px;
}
    .contact_view address h2 {
        font-weight: bolder;
    }
    .contact_view img{
        width:800px;
        height:500px;   
        padding-left:30px;
    }
.contact_view address iframe{
    height:300px;
}
    .contact_view address strong {
        color:orange;
    }