
<div class="row flex-md-row flex-sm-column-reverse justify-content-between">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="input-group">
            <input id="searchTests" class="form-control form-control-sm " type="text" placeholder="Search" data-url="@Url.Action("GetData", "Tests")" data-param-key="search">
            <div class="input-group-append">
                <button class="btn btn-info" type="button">
                    <i class="mdi mdi-magnify"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex justify-content-end">
        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="mdi mdi-plus"></i>
        </button>
    </div>
</div>

<div id="contentTable">
    @Html.Action("GetData")
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("Index", "Tests", FormMethod.Post))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Sign out</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to sign out?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        prepare();
        prepareKeyboardAction("#searchTests", "#contentTable", '@Url.Action("Index", "Tests")', function () {
            refreshTableItemSort("#tableTests");
            prepare();
        });
        function prepare() {
            prepareMouseAction("#contentPager a[href], #contentTable table th .sortable", "#contentTable", '@Url.Action("Index", "Tests")', function () {
                refreshTableItemSort("#tableTests");
            });
        }
    </script>
}
