@{
    ViewBag.Title = "Home Page";
}
<div class="body_intro_flex">

    <div class="jumbotron">
        <h1>Online Atitude Test</h1>
        <p class="lead">
            Online Atitude Test is an online recruitment solution and helps job seekers prove their abilities to employers through online tests.
        </p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Start Testing &raquo;</a></p>
    </div>

    <img src="~/Content/images/body_intro.png" class="img-fluid" style="width:1000px;height:600px;">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            What does a test include?
        </h2>
        <img src="~/Content/images/question.png" class="img-fluid">
        <p>There are 3 types of questions including General knowledge, Mathematics, Computer Technology.</p>

    </div>
    <div class="col-md-4">
        <h2>Countdown time</h2>
        <img src="~/Content/images/body_intro_timestamp.png" class="img-fluid">
        <p>
            Each test will have a time limit and you must express yourself through the answers within that time.
        </p>
    </div>

    <div class="col-md-4">
        <h2>
            After the end
        </h2>
        <img src="~/Content/images/check_test.png" class="img-fluid" >
        <p>
            Employers will use this test to assess whether you qualify to be the chosen one.
        </p>
    </div>
</div>