
@{
    ViewBag.Title = "QuestionExam";
}
<div class="quesmain">
    <h2>QuestionExam</h2>
    <div class="quswrap">

        <div class="quslist">
            <div class="qus_txt">1. If the marked price of the mobile is Rs.6000 more than the money Rajesh had but the shopkeeper offers two successive discounts 10% and 5% respectively. Now he left with him Rs.9370. What is the marked price of the mobile?</div>
        </div>
        <br>
        <div class="optrow">
            <div class="optdiv"><input type="radio" name="optionset1" id="optionset1_1" value=""> <label for="optionset1_1"><b>Rs.106000</b></label></div>
            <div class="optdiv"><input type="radio" name="optionset1" id="optionset1_2" value=""> <label for="optionset1_2"><b>Rs.106000</b></label></div>
        </div>
        <div class="optrow">
            <div class="optdiv"><input type="radio" name="optionset1" id="optionset1_3" value=""> <label for="optionset1_3"><b>Rs.106000</b></label></div>
            <div class="optdiv"><input type="radio" name="optionset1" id="optionset1_4" value=""> <label for="optionset1_4"><b>Rs.106000</b></label></div>
        </div>
    </div>
    <div class="quswrap">

        <div class="quslist">
            <div class="qus_txt">1. If the marked price of the mobile is Rs.6000 more than the money Rajesh had but the shopkeeper offers two successive discounts 10% and 5% respectively. Now he left with him Rs.9370. What is the marked price of the mobile?</div>
        </div>
        <br>
        <div class="optrow">
            <div class="optdiv"><input type="radio" name="optionset1" id="optionset1_1" value=""> <label for="optionset1_1"><b>Rs.106000</b></label></div>
            <div class="optdiv"><input type="radio" name="optionset1" id="optionset1_2" value=""> <label for="optionset1_2"><b>Rs.106000</b></label></div>
        </div>
        <div class="optrow">
            <div class="optdiv"><input type="radio" name="optionset1" id="optionset1_3" value=""> <label for="optionset1_3"><b>Rs.106000</b></label></div>
            <div class="optdiv"><input type="radio" name="optionset1" id="optionset1_4" value=""> <label for="optionset1_4"><b>Rs.106000</b></label></div>
        </div>
    </div>

    <div class="quswrap">

        <div class="quslist">
            <div class="qus_txt">1. If the marked price of the mobile is Rs.6000 more than the money Rajesh had but the shopkeeper offers two successive discounts 10% and 5% respectively. Now he left with him Rs.9370. What is the marked price of the mobile?</div>
        </div>
        <br>
        <div class="optrow">
            <div class="optdiv"><input type="radio" name="optionset1" id="optionset1_1" value=""> <label for="optionset1_1"><b>Rs.106000</b></label></div>
            <div class="optdiv"><input type="radio" name="optionset1" id="optionset1_2" value=""> <label for="optionset1_2"><b>Rs.106000</b></label></div>
        </div>
        <div class="optrow">
            <div class="optdiv"><input type="radio" name="optionset1" id="optionset1_3" value=""> <label for="optionset1_3"><b>Rs.106000</b></label></div>
            <div class="optdiv"><input type="radio" name="optionset1" id="optionset1_4" value=""> <label for="optionset1_4"><b>Rs.106000</b></label></div>
        </div>
    </div>
    <a href="@Url.Action("QuestionExam","Home")" id="start_test">Submit and next test <i class="fa-solid fa-hourglass-start"></i> </a>
</div>